@import "../theme.module.scss";

.row {
  display: flex;
  column-gap: 1vw;
  justify-content: center;
}

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-rows: min-content;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 1vw;
}

.container {
  width: 30vw;
  height: 60vh;
  &:focus-visible {
    outline: none;
  }
}
