@import "../theme.module.scss";

.tile {
  aspect-ratio: 1;
  min-width: 18px;
  min-height: 18px;
  overflow: hidden;
  background-color: $bgLight;
  border: solid 2px $lineColor;
  margin: 0.5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vmin;
}

.Green {
  background-color: $green;
}
.Yellow {
  background-color: $yellow;
}
.Grey {
  background-color: $grey;
}
