@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;600&display=swap");
@import "theme.module.scss";
.root {
  width: 100vw;
  height: 96vh;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr 18fr 1fr;
  overflow: hidden;
  margin: 2vh 0;
  row-gap: 1vmin;
  font-family: "Readex Pro", sans-serif;
  color: #f8f8f8;
}

body {
  margin: 0;
  background-color: $bgDark;
}
