@use "sass:math";

$bgLight: #4e4e4e;
$bgDark: #1b1b1b;
$lineColor: #f8f8f8;
$green: #448844;
$yellow: #888844;
$red: #884444;
$grey: #343434;

$unitlessBaseFont: 1.5;
@function getFontSize($size) {
  @return math.pow($unitlessBaseFont, $size) * 1rem;
}

$baseFont: getFontSize(1);
